@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Infrastructure.DTO.InvoiceDTO;
<html>
<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <title>New Bill</title>

    <style>
        .medicine-list {
            display: none;
            position: absolute;
            background-color: #fff;
            border: 1px solid #ddd;
            max-height: 200px;
            overflow-y: auto;
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            z-index: 1000;
        }

        .medicine-list li {
            padding: 8px;
            cursor: pointer;
        }

        .medicine-list li:hover {
            background-color: #f0f0f0;
        }

        .medicine-list .no-result {
            color: #888;
            text-align: center;
            padding: 8px;
        }

    </style>

</head>
<body>
    <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">Create New Invoice</h4>
            <div class="row CustomAdd" style="text-align:right; margin-top:-60px; padding-bottom:10px">
                <a href="~/Invoice/GetAllInvoices"><i class="fa fa-plus" aria-hidden="true"></i>View All Bills</a>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <form asp-action="AddNewInvoice" method="post">
                                <fieldset>
                                    <div class="row" style="align-content:center; align-items:center;">
                                        <div class="col-md-5">
                                            <label>Reference Number</label>
                                            <input type="text" asp-for="ReferenceNumber" class="form-control" value="@ViewBag.ReferenceNumber" readonly/>
                                        </div>
                                        <div class="col-md-5">
                                            <label>Transaction Date</label>
                                            <input type="text" asp-for="TransactionDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <label>Customer Name</label>
                                            <input type="text" class="form-control" asp-for="CustomerName" />
                                        </div>
                                        <div class="col-md-5">
                                            <label>Discount</label>
                                            <input type="text" id="Discount" class="form-control" asp-for="Discount" readonly/>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <hr />
                                    <table id="detailsTable">
                                        <thead>
                                            <tr>
                                                <th>Medicine Name</th>
                                                <th>Number Of Items</th>
                                                <th>Price</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="medicine-search-wrapper">
                                                        <input type="text" class="form-control medicine-search" name="InvoiceDetails[0].MedicineName" asp-for="InvoiceDetails[0].MedicineName" data-hidden-input-name="InvoiceDetails[0].MedicineId" placeholder="Search for medicine..." />
                                                        <ul class="medicine-list"></ul>
                                                    </div>
                                                </td>
                                                <td><input name="InvoiceDetails[0].Quantity" type="number" class="form-control Qty" asp-for="InvoiceDetails[0].Quantity" /></td>
                                                <td><input name="InvoiceDetails[0].Price" type="text" class="form-control price" asp-for="InvoiceDetails[0].Price" readonly /></td>
                                                <td><input name="InvoiceDetails[0].TotalPrice" type="number" class="form-control total-price" asp-for="InvoiceDetails[0].TotalPrice" readonly /></td>
                                                <td><button type="button" class="removeDetail btn rounded-pill btn-danger">Remove</button></td>
                                            </tr>
                                            <!-- Dynamic rows will be added here -->
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3" style="text-align: right;"><strong>Grand Total:</strong></td>
                                                <td><input type="text" class="form-control" asp-for="GrandTotal" id="grandTotal" readonly style="width: 100%; font-weight: bold;" /></td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <button class="btn rounded-pill btn-outline-secondary" id="addDetail">
                                        <i class="fa fa-plus"></i> Add Medicine
                                    </button>
                                </fieldset>
                                <br />
                                <input type="submit" class="btn rounded-pill btn-primary" value="Save" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/invoice.js"></script>
</body>
</html>

